@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base 
{
  :root 
  {
    --color-inverted: #121317;
    --color-muted: #eeeaea;
    --color-accent: #22c55e;
    --color-alt: #fafafa;
    --color-base: #fff;
    --color-input: #fff;
    --color-border: #e5e7eb;
  }

  .theme-dark
  {
    --color-inverted: #fff;
    --color-muted: #eeeaea;
    --color-accent: #22c55e;
    --color-alt: #121317;
    --color-base: #202020;
    --color-input: #272626;
    --color-border: #6b7280;
  }
}

body
{
  font-family: 'Red Hat Display';
}

.lofpd
{
  color: #202020;
} 

.background-img img 
{
  transition: transform 0.7s, filter 0.7s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
/* The Transformation */
.background-img:hover .bag-overlay .overlay-content{
  opacity: 1;
}
.background-img:hover img {
  filter: brightness(50%);
  transform: scale(1.3);
  border-radius: 10px;
}
.background-img
{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 230px;
    width: 300px;
}
.bag-overlay
{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bag-overlay .overlay-content
{
  opacity: 0;
  transition: 1.7s all ease;
}








.cover-bg
{
    background-image: url(../assets/images/test-bg.jpg);
}
.test-user-pic
{
    background-image: url(../../public/test-user.png);
}
.home-test-bg
{
  background-image: url(../../public/test-home.jpg);
  height: 85vh;
}


  .logo {
    float: left;
  }
  
  .logo a {
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
  }
  
  .navbar-menu {
    width: calc(100% - 200px);
    float: left;
  }
  .navbar-menu .ant-layout-header {
    padding: 0 20px;
  }
  
  .navbar-menu .ant-menu-horizontal {
    border-bottom: 0;
  }
  
  .navbar-menu .ant-menu-item {
    padding-bottom: 0px;
  }
  
  .navbar-menu .leftMenu {
    float: left;
  }
  
  .navbar-menu .rightMenu {
    float: right;
  }
  
  .menuButton {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 14px;
    display: none;
    background: none;
    margin-right: 10px;
  }
  
  .ant-drawer-body {
    padding: 0;
  }
  
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
  }
  
  .ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
  }
  
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
  }
  
  .username {
    display: none;
    margin-left: 8px;
  }
  
  @media (max-width: 767px) {
    .menuButton {
      display: block;
      margin-right: 10px;
    }
  
    .leftMenu,
    .rightMenu {
      display: none;
    }
  
    .logo a {
      margin-left: -10px;
    }
  
    .ant-drawer-title > .brand-font {
      margin-bottom: 0;
    }
  
    .username {
      display: inline-block;
    }
  }
